<h1>This is index</h1>
<form action="/recipes/new" method="get">
  <input type="submit" value="submit">
</form>

<% if @recipe != nil  %>
  <% @recipe.each do |r|%>
    <hr>
    <li>Recipe Name: <strong><%= r.name %></strong></li>
    <li>Recipe Ingredients: <em><%= r.ingredients %></em></li>
    <li>Recipe Cook Time: <em><%= r.cook_time %></em></li>
    <form action="/recipe/<%=r.id%>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete this recipe">
    </form>
    <form action="/recipes/<%= r.id %>/edit" method="get">
      <input type="submit" value="edit">
    </form>
    <% end %>
<% end %>
