<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8">
    <title>Recipes Index</title>  
  </head>
  <body>
    <a href="/recipes/new"> Add New Recipe</a>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Cook Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.id %></td>
            <td><%= recipe.name %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= recipe.cook_time %></td>
            <td><a href="/recipes/<%= recipe.id%>/edit">Edit</a> / <a href="/recipes/<%= recipe.id%>">Show</a</td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </body>
</html>