<h1>Recipe: <%= @recipe.name %></h1>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %></p>

<!-- Link to Edit recipe -->
<p>Please <a href="/recipes/<%= @recipe.id %>/edit">Edit</a> or <a href="/recipes">Return to List Recipes</a></p>

<!-- Delete Recipe button -->
<form action="/recipes/<%= @recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete">
</form>
