<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8">
    <title>Details for <%= @recipe.name %></title>  
  </head>
  <body>
    <dl>
      <dt><%= @recipe.name %></dt>
      <dd><%= @recipe.ingredients %></dd>
      <dd><%= @recipe.cook_time %></dd>
      <dd>
        <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
      </dd>
    </dl>
    <a href="/recipes">Back to index</a>
  </body>
</html>