<h1><%= @recipe.name %></h1>
<p><strong>Ingredients:</strong> <%= @recipe.ingredients %></p>
<p><strong>Cook Time:</strong> <%= @recipe.cook_time %></p>
<br>
<h3>Delete Recipe</h3>
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input type="hidden" name="id" value="<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<h3>See <a href="/recipes">All Recipes</a></h3>
